* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 1700px) {
  html {
    font-size: 72.5%;
  }
}

@media only screen and (min-width: 1900px) {
  html {
    font-size: 82.5%;
  }
}

@media only screen and (min-width: 2200px) {
  html {
    font-size: 92.5%;
  }
}

@media only screen and (min-width: 2700px) {
  html {
    font-size: 102.5%;
  }
}

@media only screen and (min-width: 3400px) {
  html {
    font-size: 142.5%;
  }
}

@media only screen and (min-width: 4500px) {
  html {
    font-size: 192.5%;
  }
}

:root {
  --gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

body {
  background-image: url("../images/bg-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50vh;
  background-color: var(--very-dark-blue);
  font-family: "Raleway", sans-serif;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("../images/bg-mobile.svg");
    background-position-y: 0;
    background-size: cover;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-size: 150%;
  }
}

.content {
  width: 95%;
  margin: auto;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content__left {
  background-color: var(--dark-blue);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  padding: 5rem 15rem 5rem 5rem;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  line-height: 5;
}

.content__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  background-color: var(--dark-blue);
  padding: 5rem;
  height: 85%;
  border-radius: 1rem;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .content {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10% 20%;
  }
  .content__left {
    width: 100%;
    margin-bottom: 4rem;
  }
  .content__right {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 0 10%;
    height: auto;
  }
  .content__left {
    margin-bottom: 2rem;
  }
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icon-box {
  background-color: var(--very-dark-blue);
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.icon-box__icon {
  width: 2rem;
  height: 2rem;
}

.icon-box:hover {
  background-color: var(--dark-blue);
  border: var(--very-dark-blue) 2px solid;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 2.5rem;
  background-color: var(--very-dark-blue);
  border-radius: 5rem;
  padding: 0.4rem;
}

.bar__colored {
  width: 81.5%;
  height: 100%;
  background-image: var(--gradient);
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: barAnim 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation: barAnim 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bar__dot {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 5rem;
  background-color: var(--pale-blue);
  margin-right: 0.2rem;
}

@-webkit-keyframes barAnim {
  0% {
    width: 0%;
  }
  100% {
    width: 81.5%;
  }
}

@keyframes barAnim {
  0% {
    width: 0%;
  }
  100% {
    width: 81.5%;
  }
}

.capacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  color: var(--pale-blue);
}

.notification {
  position: absolute;
  top: 0;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

.notification__block {
  background-color: var(--pale-blue);
  padding: 2rem 4rem;
  border-radius: 1rem;
  border-bottom-right-radius: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notification__arrow {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--pale-blue);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  float: right;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media only screen and (max-width: 1200px) {
  .notification {
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 70%);
            transform: translate(-50%, 70%);
  }
  .notification__block {
    border-bottom-right-radius: 1rem;
  }
  .notification__arrow {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .notification {
    width: 65%;
    -webkit-transform: translate(-50%, 85%);
            transform: translate(-50%, 85%);
  }
}

.paragraph {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--pale-blue);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.heading {
  color: var(--grayish-blue);
  font-size: 1.4rem;
}

.heading__bold {
  color: var(--very-dark-blue);
  font-size: 5rem;
  margin-right: 0.5rem;
}

span {
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */